---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<darksky_api_key>/39.7392358,-104.990251,1583280695
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 401ms
      X-Forecast-Api-Calls:
      - '101'
      X-Response-Time:
      - 25.536ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583280695,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":59.19,"apparentTemperature":59.19,"dewPoint":10.69,"humidity":0.14,"pressure":1010.2,"windSpeed":8.65,"windGust":17.44,"windBearing":297,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":334.4},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583218800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":42.06,"apparentTemperature":40.17,"dewPoint":10.29,"humidity":0.27,"pressure":1012.4,"windSpeed":3.5,"windGust":8.56,"windBearing":224,"cloudCover":0.07,"uvIndex":0,"visibility":10,"ozone":350.2},{"time":1583222400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":40.07,"apparentTemperature":40.07,"dewPoint":11.45,"humidity":0.3,"pressure[...]
