---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<darksky_api_key>/39.7392358,-104.990251,1583280695
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 638ms
      X-Forecast-Api-Calls:
      - '13'
      X-Response-Time:
      - 19.220ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583280695,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":59.09,"apparentTemperature":59.09,"dewPoint":11.05,"humidity":0.15,"pressure":1011,"windSpeed":8.42,"windGust":16.76,"windBearing":310,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":333.7},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583280660,"precipIntensity":0,"precipProbability":0},{"time":1583280720,"precipIntensity":0,"precipProbability":0}]},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583218800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":41.57,"apparentTemperature":39.64,"dewPoint":10.54,"humidity":0.28,"pressure":1012.3,"windSpeed":3.47,"windGust":8.56,"windBearing":224,"cloudCover":0.07,"uvIndex":0,"visibility":10,"ozone":350.2},{"time":1583222400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":3[...]
