---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<darksky_api_key>/39.7392358,-104.990251,1583280695
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 418ms
      X-Forecast-Api-Calls:
      - '52'
      X-Response-Time:
      - 19.981ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583280695,"summary":"Clear","icon":"clear-day","precipIntensity":0.0006,"precipProbability":0.01,"precipType":"rain","temperature":59.14,"apparentTemperature":59.14,"dewPoint":10.99,"humidity":0.15,"pressure":1010,"windSpeed":8.38,"windGust":16.69,"windBearing":308,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":334.4},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583218800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":41.57,"apparentTemperature":39.64,"dewPoint":10.54,"humidity":0.28,"pressure":1012.3,"windSpeed":3.47,"windGust":8.56,"windBearing":224,"cloudCover":0.07,"uvIndex":0,"visibility":10,"ozone":350.2},{"time":1583222400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":39.75,"apparentTemperature":39.75,"dewPoint":11.84,"humidity":0.31,"pressu[...]
