---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/fd09c639365a6e194fee8f5c1d2e10f7/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 8ms
      X-Forecast-Api-Calls:
      - '56'
      X-Response-Time:
      - 123.738ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583106481,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":6,"nearestStormBearing":148,"precipIntensity":0,"precipProbability":0,"temperature":39.03,"apparentTemperature":33.98,"dewPoint":28.43,"humidity":0.65,"pressure":1011.1,"windSpeed":6.98,"windGust":12.67,"windBearing":318,"cloudCover":0.78,"uvIndex":0,"visibility":10,"ozone":361},"minutely":{"summary":"Mostly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1583106480,"precipIntensity":0,"precipProbability":0},{"time":1583106540,"precipIntensity":0,"precipProbability":0},{"time":1583106600,"precipIntensity":0,"precipProbability":0},{"time":1583106660,"precipIntensity":0,"precipProbability":0},{"time":1583106720,"precipIntensity":0,"precipProbability":0},{"time":1583106780,"precipIntensity":0,"precipProbability":0},{"time":1583106840,"precipIntensity":0,"precipProbability":0},{"time":1583106900,"precipIntensity":0,"precipProbability":0},{"time":1583106960,"precipIntensity":0,"precipProbability":0},{"time":1583107020,"precipIntensity":0,"precipProbability":0},{"time":1583107080,"precipIntensity":0,"precipProbability":0},{"time":1583107140,"precipIntensity":0,"precipProbability":0},{"time":1583107200,"precipIntensity":0,"precipProbability":0},{"time":1583107260,"precipIntensity":0,"precipProbability":0},{"time":1583107320,"precipIntensity":0,"precipProbability":0},{"time":1583107380,"precipIntensity":0,"precipProbability":0},{"time":1583107440,"precipIntensity":0,"precipProbability":0},{"time":1583107500,"precipIntensity":0,"precipProbability":0},{"time":1583107560,"precipIntensity":0,"precipProbability":0},{"time":1583107620,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.01,"precipType":"rain"},{"time":1583107680,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.01,"precipType":"rain"},{"time":1583107740,"precipIntensity":0.002,"precipIntensityError":0.001,"precipProbability":0.01,"precipType":"rain"},{"time":1583107800,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.02,"precipType":"rain"},{"time":1583107860,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.02,"precipType":"rain"},{"time":1583107920,"prec[...]
