---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<darksky_api_key>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 207ms
      X-Forecast-Api-Calls:
      - '5'
      X-Response-Time:
      - 136.866ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583121283,"summary":"Flurries","icon":"snow","nearestStormDistance":0,"precipIntensity":0.013,"precipIntensityError":0.002,"precipProbability":1,"precipType":"snow","precipAccumulation":0.1463,"temperature":28.83,"apparentTemperature":21.64,"dewPoint":26.96,"humidity":0.93,"pressure":1019.3,"windSpeed":7.05,"windGust":11.74,"windBearing":353,"cloudCover":0.93,"uvIndex":0,"visibility":4.315,"ozone":375.9},"minutely":{"summary":"Flurries
        stopping in 30 min.","icon":"snow","data":[{"time":1583121240,"precipIntensity":0.013,"precipIntensityError":0.002,"precipProbability":1,"precipType":"snow"},{"time":1583121300,"precipIntensity":0.012,"precipIntensityError":0.002,"precipProbability":1,"precipType":"snow"},{"time":1583121360,"precipIntensity":0.012,"precipIntensityError":0.003,"precipProbability":1,"precipType":"snow"},{"time":1583121420,"precipIntensity":0.011,"precipIntensityError":0.003,"precipProbability":1,"precipType":"snow"},{"time":1583121480,"precipIntensity":0.[...]
