---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<google_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 04 Mar 2020 12:54:06 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<darksky_api_key>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 480ms
      X-Forecast-Api-Calls:
      - '47'
      X-Response-Time:
      - 68.078ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583326447,"summary":"Clear","icon":"clear-night","nearestStormDistance":280,"nearestStormBearing":191,"precipIntensity":0,"precipProbability":0,"temperature":36.02,"apparentTemperature":36.03,"dewPoint":14.3,"humidity":0.41,"pressure":1020.3,"windSpeed":2.44,"windGust":5.79,"windBearing":167,"cloudCover":0.15,"uvIndex":0,"visibility":10,"ozone":318.7},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1583326440,"precipIntensity":0,"precipProbability":0},{"time":1583326500,"precipIntensity":0,"precipProbability":0},{"time":1583326560,"precipIntensity":0,"precipProbability":0},{"time":1583326620,"precipIntensity":0,"precipProbability":0},{"time":1583326680,"precipIntensity":0,"precipProbability":0},{"time":1583326740,"precipIntensity":0,"precipProbability":0},{"time":1583326800,"precipIntensity":0,"precipProbability":0},{"time":1583326860,"precipIntensity":0,"precipProbability":0},{"t[...]
