---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<darksky_api_key>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 65ms
      X-Forecast-Api-Calls:
      - '103'
      X-Response-Time:
      - 63.166ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583591237,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":300,"nearestStormBearing":285,"precipIntensity":0,"precipProbability":0,"temperature":42.78,"apparentTemperature":41.81,"dewPoint":21.2,"humidity":0.42,"pressure":1016.5,"windSpeed":2.98,"windGust":6.01,"windBearing":152,"cloudCover":0.33,"uvIndex":0,"visibility":10,"ozone":303.9},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1583591220,"precipIntensity":0,"precipProbability":0},{"time":1583591280,"precipIntensity":0,"precipProbability":0},{"time":1583591340,"precipIntensity":0,"precipProbability":0},{"time":1583591400,"precipIntensity":0,"precipProbability":0},{"time":1583591460,"precipIntensity":0,"precipProbability":0},{"time":1583591520,"precipIntensity":0,"precipProbability":0},{"time":1583591580,"precipIntensity":0,"precipProbability":0},{"time":1583591640,"precipIntensity":0,"precipProbability":0},{"t[...]
