---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<darksky_api_key>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 772ms
      X-Forecast-Api-Calls:
      - '54'
      X-Response-Time:
      - 65.962ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583327618,"summary":"Clear","icon":"clear-night","nearestStormDistance":216,"nearestStormBearing":188,"precipIntensity":0,"precipProbability":0,"temperature":35.93,"apparentTemperature":35.99,"dewPoint":14.69,"humidity":0.41,"pressure":1019.5,"windSpeed":2.34,"windGust":5.01,"windBearing":176,"cloudCover":0.14,"uvIndex":0,"visibility":10,"ozone":319.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1583327580,"precipIntensity":0,"precipProbability":0},{"time":1583327640,"precipIntensity":0,"precipProbability":0},{"time":1583327700,"precipIntensity":0,"precipProbability":0},{"time":1583327760,"precipIntensity":0,"precipProbability":0},{"time":1583327820,"precipIntensity":0,"precipProbability":0},{"time":1583327880,"precipIntensity":0,"precipProbability":0},{"time":1583327940,"precipIntensity":0,"precipProbability":0},{"time":1583328000,"precipIntensity":0,"precipProbability":0},{"t[...]
